<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feed</ion-title>
    <ion-buttons end>
      <ion-button icon-only (click)="logout()">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!publicacaos.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let publicacao of publicacaos">
    <ion-item class="titulo-item">
      <ion-avatar slot="start">
        <img src="/assets/img/user.png">
      </ion-avatar>
      <ion-label>
        <h3>{{ publicacao.userId }}</h3>
        <p>{{ publicacao.createdAt | date: 'short' }}</p>
      </ion-label>
      <!-- <ion-note color="primary" slot="end" *ngIf="publicacao.valor">{{ publicacao.valor | currency: 'BRL' }}</ion-note> -->
      <ion-button slot="end" fill="clear" [routerLink]="['/details', publicacao.id]">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deletePublicacao(publicacao.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <!-- <img src="../../assets/hotel.jpeg" alt="ion"> -->
    <ion-card-header>
      <ion-row>

        <ion-card-title class="titulo-post">{{ publicacao.titulo }}</ion-card-title>

        <ion-col>
          <ion-note horizontal="end" color="primary" *ngIf="publicacao.valor">{{ publicacao.valor | currency: 'BRL' }}
          </ion-note>
        </ion-col>

      </ion-row>
    </ion-card-header>
    <ion-card-content class="dados">
      <p> {{ publicacao.descricao }} </p>

      <ion-row>
        <ion-col center text-center>

          <!-- <ion-icon name="thumbs-up"></ion-icon> -->
          <div><strong>{{ publicacao.experiencia }}</strong></div>

        </ion-col>
        <ion-col center text-center>

          <!-- <ion-icon name="text"></ion-icon> -->
          <div><strong>{{ publicacao.cidade }}</strong></div>

        </ion-col>
        <ion-col center text-center>
          <!-- <ion-icon name="time"></ion-icon> -->
          <div><strong>{{ publicacao.estado }}</strong></div>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <ion-button fill="clear">
          <ion-icon name="thumbs-up"></ion-icon>
          <!-- <div>1.5k Likes</div> -->
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button fill="clear">
          <ion-icon name="chatbox"></ion-icon>
          <!-- <div>4 Comments</div> -->
        </ion-button>
      </ion-col>
      <!-- <ion-col center text-center>
          <ion-button fill="clear">
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </ion-button>
        </ion-col> -->
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/details">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>