h1{
    padding-left: 90px;
    color: orange;
}

h3{
    color: orange;
    padding-top: 1em;
}

.cadastro{
    padding-left: 8em;
}

.imagem{
    max-width:400px;
    max-height:350px;
    width: auto;
    height: auto;
    padding-top: 90px;
}

p{
    color:grey;
}

