<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jet Work</ion-title>
    <ion-buttons end>
      <ion-button small routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide>
      <ion-grid>
        <img class="intro-img" src="/assets/img/intro0.jpg">
        <ion-row>
          <h1>Seja bem vindo!</h1>
        </ion-row>
        <ion-row>
          <p>A <strong>Jet Work</strong> é a plataforma que você estava procurando para atender a sua necessidade,
            seu conforto e para decolar o seu sucesso. Você está pronto para essa experiência incrível?</p>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <img class="imagem" src="/assets/img/icon4.png">
        <ion-row>
          <h3>Você que está buscando uma renda extra</h3>
        </ion-row>
        <ion-row>
          <p>Aqui tem pessoas que estão a procura dos seus <strong>serviços</strong>. Então se você tem uma qualificação
            e esta
            a procura de serviços frelances aqui você encontra.</p>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <img  class="imagem" src="/assets/img/icon2.png">
        <ion-row>
          <h3>Não conhece nenhum profissional na area que necessita?</h3>
        </ion-row>
        <ion-row>
          <p>Estamos felizes em informar que essa pergunta nos fazemos questão de responde-la. Aqui tem <strong>profissionais</strong> qualificados e de todas as 
            areas e afins, para atender sua necessidade.</p>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <img  class="imagem" src="/assets/img/intro6.png">
        <ion-row>
          <h3>Conheça o nosso espaço e faça parte dessa jornada de muito  sucesso</h3>
        </ion-row>
        <ion-col class="ion-text-center">
          <ion-button class="btn-cadastro" small routerLink="/login">Cadastre-se</ion-button>
        </ion-col>       
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="light" expand="block">
            Ser Profissional
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/details" expand="block">
            Publicar Serviço
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->